<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content #content>

  <select-topic (onSelectTopic)="openNews($event)"></select-topic>

  <div padding text-center *ngIf="specialtiesLoading || generalTopicsLoading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ng-container *ngIf="!(specialtiesLoading || generalTopicsLoading)">
    <h2>SPECIALTIES</h2>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-4 *ngFor="let cat of specialties">
          <div class="specialtie-box" (click)="openLinks(cat)">
            <img [src]="cat?.img" />
            <p>{{cat?.nomepc}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h2 id="generalTopics">GENERAL TOPICS</h2>
    <ion-grid>
      <ion-row>
        <ion-col col-4 *ngFor="let cat of generalTopics">
          <div class="specialtie-box" (click)="openLinks(cat)">
            <img [src]="cat?.img" />
            <p>{{cat?.nomepc}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <app-footer></app-footer>

</ion-content>