<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/img/logo-branco.png" class="header-logo" />
    </ion-title>
    <button right ion-button menuToggle="right">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding text-center *ngIf="specialtiesLoading || generalTopicsLoading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ng-container *ngIf="!(specialtiesLoading || generalTopicsLoading)">
    <h2>SPECIALTIES</h2>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-4 *ngFor="let cat of specialties">
          <div class="specialtie-box" (click)="openLinks(cat)">
            <img [src]="cat?.img" />
            <p>{{cat?.nomepc}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h2>GENERAL TOPICS</h2>
    <ion-grid>
      <ion-row>
        <ion-col col-4 *ngFor="let cat of generalTopics">
          <div class="specialtie-box" (click)="openLinks(cat)">
            <img [src]="cat?.img" />
            <p>{{cat?.nomepc}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

</ion-content>