page-about {
    .content {
        background: #fff;
    }
    h2 {
        font-size: 20px;
        color: #535353;
        text-transform: uppercase;
    }
    p {
        line-height: 2;
        font-size: 16px;
        text-align: justify;
        margin: 0;
    }
}