<ion-header>
<ion-grid no-padding border-bottom>
    <ion-row align-items-center>
      <ion-col>
        <open-access></open-access>
      </ion-col>
      <ion-col col-auto text-right>
        <gtranslate-select></gtranslate-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-header></app-header>
</ion-header>

<ion-content #content>

  <div padding text-center *ngIf="!article">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="article">

    <ion-card>
        <ion-card-content class="bg_content_news"> 
    <h2 [innerHTML]="article?.title | gtranslate:gtp.last"></h2>
    <p class="date">{{ article?.date | date:'d MMM, yyy' }} | {{ article?.date | date:'HH:mm' }}h | UTC</p>
      
          <div class="html-content" [innerHTML]="article?.content | gtranslate:gtp.last"></div>
          <div class="html-content" [innerHTML]="article?.desc | gtranslate:gtp.last"></div>
        </ion-card-content>
        <ion-row>

          <ion-col>
            <button [color]="isFav(article) ? 'danger' : 'primary'" (click)="isFav(article) ? removeFav(article) : addFav(article)" ion-button icon-left clear small>
              <ion-icon name="star"></ion-icon>
              <div>Favorite</div>
            </button>
    
            <button (click)="share(article.link, article.title, article.desc)" ion-button icon-left clear small>
              <ion-icon name="share"></ion-icon>
              <div>Share</div>
            </button>
    
            <button (click)="openExternal(article.link)" ion-button icon-left clear small>
              <ion-icon name="open"></ion-icon>
              <div>Open</div>
            </button>
    
          </ion-col>
    
        </ion-row>
      </ion-card>
  </div>


  <app-footer></app-footer>

</ion-content>