<ion-header>
<ion-grid no-padding border-bottom>
    <ion-row align-items-center>
      <ion-col>
        <open-access></open-access>
      </ion-col>
      <ion-col col-auto text-right>
        <gtranslate-select></gtranslate-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-header></app-header>
</ion-header>

<ion-content>

  <div padding text-center *ngIf="archivesLoading ">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div>
    <ion-grid>
      <ion-row class="dark">
        <ion-col *ngFor="let archive of archives" (click)="openArchive(archive)" col-6>
          <div>
            {{archive.text}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>


  <app-footer></app-footer>

</ion-content>