page-home {
    .segment .segment-button {
        border-width: 3px;
    }
    .bg_top_news {
    background: #1a5575 !important;
    }
    .bg_content_news{
        background:#f8f8f8;
    }
    .mg_btom_zero{
        margin-bottom:0;
    }
    .toolbar-tabs {
        padding: 0;
        .segment .segment-button {
            border-width: 0px;
        }
    }
    .toolbar-md {
            padding: 0 !important;
            min-height: 0 !important;
    }
    .segment-md-primary .segment-button {
    
    }
    .color-white {
    color: #FFF !important;
    }
    .segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
    border-color: #6ab9f0;
    color: #857a53;
    opacity: 1;
    }
    span {
        display: inline-block;
    }
    .top10-title {
        margin: 0;
        display: inline-block;
        color: #036cb3;
        font-size: 16px;
    }
    .top10-author {
        display: inline-block;
        margin: 0;
        font-style: italic;
        font-size: 12px;
        margin-bottom: 12px;
    }
    .top10-number {
        float: left;
        font-weight: bold;
        padding-top: 1px;
        width: 24px;
        padding-right: 3px;
        text-align: right;
    }
    .top10-texts {
        margin: 10px 0;
    }
    .mon_fri{
        text-align:center;
        margin:-16px 0 -4px 0 !important;
    }
    .segment-news {
        background: color($colors, secondary) !important;
        
        .item {
            width:50%;
            display:inline-block;
            background: transparent !important;
            font-size: 1.4rem;
            .label,
            .icon {
                color: #827756;
            }
        }
    }
    .segment-databases {
        background: color($colors, ternary) !important;
        .item-divider .label {
            color: #036cb3 !important;
            text-align: center;
            font-weight: 500;
        }
        .item {
            width:50%;
            display:inline-block;
            background: transparent !important;
            font-size: 1.4rem;
            .label,
            .icon {
                color: #4f8073;
            }
        }
    }
    .segment-guidelines {
        background: color($colors, quaternary) !important;
        .item {
            width:50%;
            display:inline-block;
            background: transparent !important;
            font-size: 1.4rem;
            .label,
            .icon {
                color: #44708e;
            }
        }
    }
}