<ion-header>
<ion-grid no-padding border-bottom>
    <ion-row align-items-center>
      <ion-col>
        <open-access></open-access>
      </ion-col>
      <ion-col col-auto text-right>
        <gtranslate-select></gtranslate-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-header></app-header>
</ion-header>

<ion-content>

  <ion-toolbar class="">
    <ion-segment class="bg_top_news" [(ngModel)]="segment" color="primary">
      <ion-segment-button class="color-white" value="top10">
        {{'TOP 10 STORIES' | gtranslate:gtp.last }}
      </ion-segment-button>
      <ion-segment-button class="color-white" value="news">
        {{'LATEST NEWS' | gtranslate:gtp.last }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-card>

  <ion-card-content class="bg_content_news">
    <ng-container *ngIf="segment === 'top10'">
    <div padding text-center *ngIf="top10.length < 1">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
      <ion-card-header *ngIf="top10 && top10.length > 0" class="mon_fri">
        Mon-Fri | {{ top10[0]?.data_fixed }}
      </ion-card-header>
    <div *ngFor="let article of top10; let i = index" tappable (click)="openArticle(article)">

      <div class="top10-texts">
        <p class="top10-title" text-wrap [ngStyle]="{color: article.color}">
          {{i+1}}.
          {{article.title | gtranslate:gtp.last }} »
        </p>
        <p class="top10-author">{{article?.source}}</p>
      </div>
    </div>
    <div padding text-right>
        <button ion-button item-right (click)="moreTop10()">{{'Read more' | gtranslate:gtp.last }}</button>
    </div>
  </ng-container>

  <ng-container class="bg_content_news" *ngIf="segment === 'news'">
    <div padding text-center *ngIf="news.length < 1">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    <div *ngFor="let article of news; let i = index" tappable (click)="openArticle(article)">
      <div class="top10-texts">
        <p class="top10-title" text-wrap [ngStyle]="{color: article.color}">{{article.title | gtranslate:gtp.last }} »</p>
        <p class="top10-author">{{article?.source}}</p>
      </div>
    </div>
    <div padding text-right>
      <button ion-button item-right (click)="moreNews()">{{'Read more' | gtranslate:gtp.last }}</button>
    </div>
  </ng-container>
  </ion-card-content>
</ion-card>





  <ion-card color="light" class="toolbar-tabs mg_btom_zero">
    <div padding text-center>
      {{'Specialties / General Topics' | gtranslate:gtp.last }}
    </div>
    <ion-segment [(ngModel)]="segment2" color="primary">
      <ion-segment-button value="news" class="segment-news">
        {{'NEWS' | gtranslate:gtp.last }}
      </ion-segment-button>
      <ion-segment-button value="databases" class="segment-databases">
        {{'DATABASES' | gtranslate:gtp.last }}
      </ion-segment-button>
      <ion-segment-button value="guidelines" class="segment-guidelines">
        {{'LIBRARY' | gtranslate:gtp.last }}
      </ion-segment-button>
    </ion-segment>
  </ion-card>

  <ion-card *ngIf="segment2 === 'news'" class="segment-news">
    <div padding text-center *ngIf="!submenus?.news">
      <ion-spinner name="crescent"></ion-spinner>
    </div>


    <ng-container *ngIf="submenus">
      <button menuClose *ngFor="let item of submenus?.news" ion-item (click)="openPage('news', {specialtie: item.id, title: item.name})"
        detail-none no-lines>
        <span [innerHTML]="item.name | gtranslate:gtp.last"></span>
      </button>

    </ng-container>

  </ion-card>

  <ion-card *ngIf="segment2 === 'databases'" class="segment-databases"> 
    <div padding text-center *ngIf="!submenus?.database">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

    <ng-container *ngIf="submenus">
      <ion-item-divider no-lines>{{'Specialties Homepage' | gtranslate:gtp.last }}</ion-item-divider>
      <button menuClose *ngFor="let item of submenus?.database[0]" ion-item (click)="openPage('posts', {specialtie: item.id, title: item.name})"
        detail-none no-lines>
        <span [innerHTML]="item.name | gtranslate:gtp.last"></span>
      </button>
      <ion-item-divider no-lines>{{'General Topics' | gtranslate:gtp.last }}</ion-item-divider>
      <button menuClose *ngFor="let item of submenus?.database[1]" ion-item (click)="openPage('posts', {specialtie: item.id, title: item.name})"
        detail-none no-lines>
        <span [innerHTML]="item.name | gtranslate:gtp.last"></span>
      </button>

    </ng-container>

  </ion-card>

  <ion-card *ngIf="segment2 === 'guidelines'" class="segment-guidelines">
    <div padding text-center *ngIf="!submenus?.guidelines">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

    <ng-container *ngIf="submenus">
      <button menuClose *ngFor="let item of submenus.guidelines" ion-item (click)="openPage('guidelines', {guideline: item, title: item.name, slug: item.slug})"
        detail-none no-lines>
        <span [innerHTML]="item.name | gtranslate:gtp.last"></span>
      </button>

    </ng-container>


  </ion-card>


  <app-footer></app-footer>

</ion-content>
