// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.content {}

.menu-content {
    background: color($colors, primary);
    .slides {
        height: auto;
        .list {
            margin-bottom:0px;
            .item-divider {
                border-bottom:0;
                .label {
                    color: #036cb3;
                }
            }
        }
    }
    div>.list.list-menu {
       
        .item {
            color: color($colors, light);
            font-weight: bold;
            border-radius: 0px;
        }
        .item[color=secondary] {
            .label,
            .icon {
                color: #827756;
            }
        }
        .item[color=ternary] {
            .label, .icon {
                color: #4f8073;
            }
        }
        .item[color=quaternary] {
            .label, .icon {
                color: #44708e;
            }
        }
        .item-md,
        .item-ios {
            font-size: 1.4rem;
        }
        .label,
        .select-icon .select-icon-inner {
            color: color($colors, light);
        }
        .item-inner {}
    }
    div>.list.list-menu-news {
        .item {
            background: color($colors, secondary);
        }
        .label,
        .icon {
            color: color($colors, primary);
        }
    }
    div>.list.list-menu-database {
        .item {
            background: color($colors, ternary);
        }
        .label,
        .icon {
            color: color($colors, primary);
        }
    }
    div>.list.list-menu-guidelines {
        .item {
            background: color($colors, quaternary);
        }
        .label,
        .icon {
            color: color($colors, primary);
        }
    }
}

.menu-inner {
    .toolbar-ios ion-title {
        padding: 0 30px 1px;
    }
}

.card-header {
    color: color($colors, primary);
}

.alert-md .alert-radio-label,
.alert-ios .alert-radio-label {
    white-space: initial;
}

.md {
    .header-logo {
        max-height: 44px;
        margin: 0 auto;
        display: block;
    }
    .bar-button-menutoggle,
    .back-button {
        min-width: 34px;
        margin: 0;
        ion-icon {
            padding: 0 1px;
        }
    }
    .bar-buttons-md[right] {
        padding: 0 2px;
    }
}

.ios {
    .header-logo {
        max-height: 35px;
        margin: 0 auto;
        display: block;
    }
}

[border-bottom] {
    border-bottom:1px solid #eee;
}

.gtselect {
    .alert-radio-label {
        text-transform: capitalize;
    }
}