<ion-header>
<ion-grid no-padding border-bottom>
    <ion-row align-items-center>
      <ion-col>
        <open-access></open-access>
      </ion-col>
      <ion-col col-auto text-right>
        <gtranslate-select></gtranslate-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-header></app-header>
</ion-header>

<ion-content #content class="news-content">

  <!--select-topic [hidden]="archive" [specialtie]="specialtie" (onSelectTopic)="changeTopic($event)"></select-topic-->
  <div>
    <div text-center *ngIf="specialtiesLoading || newsLoading">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    <h1 text-center *ngIf="news && news.length > 0" [innerHTML]="title | gtranslate:gtp.last"></h1>
    <div *ngFor="let article of news" >
      <ion-card>
        <ion-card-content class="bg_content_news" tappable (click)="openArticle(article)"> 
          <h2 text-wrap [innerHTML]="article.title | gtranslate:gtp.last"></h2>
          <p class="date" tappable (click)="openArticle(article)">{{ article?.date | date:'d MMM, yyy' }} | {{ article?.date | date:'HH:mm' }}h | UTC</p>
          <div class="html-content" [innerHTML]="article?.content | gtranslate:gtp.last"></div>
        </ion-card-content>
        <ion-row>

          <ion-col>
            <button [color]="isFav(article) ? 'danger' : 'primary'" (click)="isFav(article) ? removeFav(article) : addFav(article)" ion-button icon-left clear small>
              <ion-icon name="star"></ion-icon>
              <div>Favorite</div>
            </button>
    
            <button (click)="share(article.url, article.title, article.desc)" ion-button icon-left clear small>
              <ion-icon name="share"></ion-icon>
              <div>Share</div>
            </button>
    
            <button (click)="openArticle(article)" ion-button icon-left clear small>
              <ion-icon name="open"></ion-icon>
              <div>Open</div>
            </button>
    
          </ion-col>
    
        </ion-row>
      </ion-card>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <app-footer></app-footer>

</ion-content>