page-search {
    .header {
        .select {
            max-width:100%;
            color: #fff;
        }
        .select-icon .select-icon-inner {
            color: #fff;
        }
    }
    .footer {
        .button {
            padding:0;
            margin:0;
        }
    }
}
