app-footer {
    >div {
        padding:10px;
        >p {
            color: #acacac;
            text-align: center;
            font-size: 12px;
            a {
                color: #2969b0;
                font-weight: 400;
            }
        }
    }
}