<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>

  <ion-grid no-padding border-bottom>
    <ion-row align-items-center>
      <ion-col>
        <open-access></open-access>
      </ion-col>
      <ion-col col-auto text-right>
        <gtranslate-select></gtranslate-select>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--select-topic (onSelectTopic)="openNews($event)"></select-topic-->

  <div padding text-center *ngIf="privacyLoading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div padding *ngIf="!(privacyLoading) && privacy">
    <h2>{{privacy.title | gtranslate:gtp.last }}</h2>
    <div text-center [innerHTML]="privacy.content | gtranslate:gtp.last"></div>
  </div>
  <app-footer></app-footer>

</ion-content>